.form{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    z-index: 10;
    background-color: white;
    padding: 1.4vw;
    border-radius: 3%;
    border: solid black 1px;
}
body{
    z-index: 1;
}